.cardControl {
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
	/* cursor: pointer; */

	button {
		cursor: pointer;
	}
}
.cardItemsControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	* {
		flex-grow: 1;
	}
}
