.card {
	position: relative;
	border: 1px orange solid;
	padding: 2rem;
	margin: 0 auto;
	max-width: 980px;
	display: grid;
	gap: 1rem;
	background-color: var(--color-1);

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(150px, 1fr);

	grid-template-areas: "img info info";
}

.imageContainer {
	grid-area: img;
	border: 1px green solid;
	/* width: 50%; */
	align-self: center;
	/* max-height: 30vh; */

	overflow: hidden;

	& img {
		height: inherit;
		width: inherit;
		object-fit: fill;
	}
}

.descriptionContainer {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;

	grid-area: info;

	background-color: var(--bg-color);

	border: 1px blue solid;
	/* align-items: center; */
}

.btnClose {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	justify-content: center;
	align-self: flex-end;
	color: black;
	height: 40px;
	width: 40px;

	appearance: none;
	border: none;
	border-radius: 40px;
	box-shadow: 0px 3px 6px var(--color-header);

	opacity: 40%;
	transition: opacity 150ms ease-in-out;

	&:hover {
		cursor: pointer;
		opacity: 60%;
	}

	svg {
		align-self: center;
	}
}
