.cardContainer {
	position: relative;

	display: flex;
	flex-direction: column;

	padding: 0.8rem;
	align-items: stretch;
	justify-content: center;
	max-width: 350px;

	.linkToItem {
		position: absolute;
		width: 100%;
		height: 100%;
		/* background-color: blueviolet; */
		z-index: 0;
		/* pointer-events: all; */
		cursor: pointer;
	}
}

.cardImage {
	/* pointer-events: none; */
	border: 1px solid red;
	height: 65%;
	margin-bottom: 0.8rem;

	overflow: hidden;

	img {
		height: 100%;
		width: 100%;
		border: 1px solid green;
		object-fit: contain;
	}
}

.cardControl {
	display: flex;

	/* pointer-events: all; */
	height: 35%;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	border: 1px solid blue;

	h2 {
		border: 1px solid orange;
		flex-shrink: 0;

		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.cardItemsControl {
		display: flex;
		flex-direction: row;
		justify-content: center;
		border: 1px solid orange;

		* {
			flex-grow: 1;
		}
	}
}
