.itemCard {
	display: grid;
	padding: 1rem;

	/* min-height: 174px; */
	max-height: 200px;
	border-radius: 4px;
	border: 1.5px solid var(--color-border);
	background-color: var(--color-1);

	grid-template-columns: minmax(62px, 132px) minmax(286px, 528px) minmax(
			128px,
			220px
		);
	grid-template-rows: repeat(2, 1fr);

	grid-template-areas:
		"img info check"
		"img info check";
}

.itemImage {
	flex: 1;
	position: relative;
	overflow: hidden;
	/* border: 2px purple solid; */

	grid-area: img;
}

img {
	height: 100%;
	width: 100%;
}
/* Item Summary */

.itemSummary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* flex-basis: 60%; */
	/* border: 2px solid red; */
	text-align: left;
	padding-left: 0.8rem;
	min-width: 286px;
	max-width: 100%;
	grid-area: info;
}

.highlightCategory {
	color: #00ad30;
}

.checkoutMainText {
	color: var(--color-header);
	font-size: medium;
	font-weight: 500;
}

.textColor {
	color: var(--color-category);
}
/* item control and total price */

.itemControl {
	/* border: 2px solid blue; */

	display: flex;
	flex-direction: column;
	/* flex-basis: 20%; */
	justify-content: space-between;
	/* width: 25%; */
	min-width: 128px;

	grid-area: check;
}

.totalPrice {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	padding-left: 1rem;
	height: 100%;
	color: #00ad30;
}

/* MEDIA */

@media (width <= 576px) {
	.itemCard {
		/* border: 3px solid gold; */

		grid-template-columns: minmax(64px, 102px) 1fr;
		grid-template-rows: 1fr 78px;

		grid-template-areas:
			"img info"
			"check check";

		max-height: min-content;
	}

	.itemSummary {
		min-width: auto;
		margin-bottom: 1rem;
	}

	.itemControl {
		margin-top: 0.5rem;
		border-top: 1px solid var(--color-border);
		min-width: auto;
	}
	.totalPrice {
		margin: auto;
	}
}
