.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	background: transparent;
	border-radius: 6px;
	height: 2rem;
	text-decoration: none;
	text-align: center;
	border: 1px solid var(--color-border);
}

/* wrapper for children */
.contentWrapper {
	display: flex;
	justify-content: center;
	pointer-events: none;
	z-index: 2;
}

/* control div overlay effect */
.overlay-effect {
	position: absolute;
	pointer-events: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
	background-color: var(--color-border);
	transition: opacity 100ms ease-in-out;
}

.btn:hover .overlay-effect {
	opacity: 0.2;
}

/* Styles btn

    main btn 
*/
.primary {
	background-color: var(--color-2);
}

.checkout {
	height: 58px;
	color: white;
	background-color: rgb(16 196 76);
	font-size: larger;
	font-weight: bolder;
	border: none;
}

.checkout .overlay-effect {
	background-color: rgb(255, 255, 255);
}

/* ---------- 
    Navigation bar
*/

.navBar {
	--text: "";

	border: none;
	padding: 0 2rem;
	position: relative;
	height: 3.5rem;
	min-width: 140px;
	font-size: 2rem;
	font-weight: 900;

	transition: box-shadow 300ms ease-in-out;
}

.navBar svg {
	transition: transform 250ms ease-in-out;
	/* background-color: aqua; */
	transform: translateX(0);
}

.navBar:hover svg {
	background-color: var(--color-2);
	transform: translateX(-110%);
}

.navBar:hover {
	box-shadow: 0 8px 16px #00000063;
}

.navBar::after {
	content: var(--text);
	position: absolute;

	left: 0;
	right: 0;
	opacity: 0;
	transform: translateX(10%);

	transition:
		transform 50ms ease-in-out,
		opacity 100ms ease-in-out;
}

.navBar:hover::after {
	transform: translateX(15%);
	opacity: 1;
}

.navBar .overlay-effect {
	background-color: transparent;
}
