.container {
	display: flex;
	gap: 2rem;
	/* min-height: 500px; */
	min-width: 100%;
}

/* item cards container */
.cardsContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 1;
	min-width: 512px;
	/* border: 2px solid lightseagreen; */
}

@media (width <= 375px) {
	.container {
		flex-direction: column;
		font-size: small;
		/* align-items: stretch; */
	}

	.cardsContainer {
		min-width: 100%;
	}
}

@media (width <= 874px) {
	.container {
		flex-direction: column;
		align-items: stretch;
	}

	.cardsContainer {
		min-width: auto;
	}
}
