.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
	gap: 2rem;
	justify-items: center;
	align-items: stretch;
}

.cardContainer {
	position: relative;

	display: flex;
	flex-direction: column;

	padding: 0.8rem;
	align-items: stretch;
	justify-content: space-between;
	max-width: 350px;
}

.linkToItem {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	cursor: pointer;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: var(--color-1);
	border: 1.5px solid var(--color-border);
	border-radius: 4px;
	overflow: hidden;
	max-height: 512px;
	width: 100%;
	position: relative;
}

.cardImage {
	/* pointer-events: none; */
	position: relative;
	/* border: 1px solid red; */

	height: 100%;

	margin-bottom: 0.8rem;
	display: flex;

	justify-content: center;

	overflow: hidden;
}

.cardImage > img {
	max-height: 198px;
}

.cardControl {
	display: flex;

	/* pointer-events: all; */
	height: 35%;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	/* border: 1px solid blue; */
}
.cardControl h2 {
	/* border: 1px solid orange; */
	flex-shrink: 0;

	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cardItemsControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* border: 1px solid orange; */
}

.cardItemsControl * {
	flex-grow: 1;
}

@media (width <= 375px) {
	.container {
		grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
		gap: 1rem;
	}

	.cardContainer {
		font-size: small;
	}
}
