.cardContainer {
	position: relative;

	display: flex;
	flex-direction: column;

	padding: 0.8rem;
	align-items: stretch;
	justify-content: center;
	max-width: 350px;
}

.linkToItem {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	cursor: pointer;
}

.cardImage {
	/* pointer-events: none; */
	position: relative;
	border: 1px solid red;
	/* flex-basis: 65%; */
	height: 65%;
	min-height: 300px;
	margin-bottom: 0.8rem;
	display: flex;

	justify-content: center;

	overflow: hidden;
}
/* 
.cardImage img {

	height: 100%;
	width: 100%;
	border: 1px solid green;
	object-fit: contain;

	transition: opacity 500ms ease-in-out;
}

.imageHidden {

	opacity: 0;
}

.imageVisible {

	opacity: 1;
}

.cardImageSkeleton {
	color: var(--color-3);
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	transform: translate(-50%, -50%);

	animation: pulse infinite 3500ms ease-in-out;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
} */

.cardControl {
	display: flex;

	/* pointer-events: all; */
	height: 35%;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	border: 1px solid blue;
}
.cardControl h2 {
	border: 1px solid orange;
	flex-shrink: 0;

	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cardItemsControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid orange;
}

.cardItemsControl * {
	flex-grow: 1;
}
