.container {
	display: flex;
	gap: 2rem;
	/* min-height: 500px; */
}

/* item cards container */
.cardsContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	min-width: 512px;
	border: 2px solid lightseagreen;
}

.itemCard {
	background-color: var(--color-1);
	padding: 1rem;
	display: flex;
	max-height: 200px;

	border: 1px solid green;
}

/* item image */

.itemImage {
	flex: 1;
	position: relative;
	overflow: hidden;
	border: 1px blue solid;
}

img {
	height: 100%;
	width: 100%;
}
/* Item Summary */

.itemSummary {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	flex-basis: 60%;
	border: 1px solid red;
	text-align: left;
	padding-left: 0.8rem;
}

.highlightCategory {
	color: #00ad30;
}

.checkoutMainText {
	color: var(--color-header);
	font-size: large;
	font-weight: 500;
}

.textColor {
	color: var(--color-category);
}
/* item control and total price */

.itemControl {
	display: flex;
	flex-direction: column;
	/* flex-basis: 20%; */
	justify-content: space-between;

	min-width: 128px;
}

.totalPrice {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	height: 100%;
	color: #00ad30;
}

/* ================================== */

.checkoutContainer {
	/* display: flex; */
	/* justify-content: space-between; */
	flex: 0;
	/* flex-shrink: 0; */
	align-items: stretch;
	padding: 1rem;
	max-width: 270px;
	min-width: 268px;
	height: 100%;

	border: 2px solid orange;
}

.checkoutInfo {
	border: 1px solid gray;
	/* display: flex; */
}

.checkoutInfoBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btnCheckout {
	height: 58px;
	color: white;
	background-color: rgb(16 196 76);
	font-size: larger;
	font-weight: bolder;
	border: none;
}
