img {
	/* pointer-events: none; */
	height: 100%;
	width: 100%;
	/* border: 6px solid green; */
	object-fit: contain;

	transition: opacity 500ms ease-in-out;
}

.imageHidden {
	opacity: 0;
}

.imageVisible {
	opacity: 1;
}

.cardImageSkeleton {
	color: var(--color-3);
	opacity: 1;
	position: absolute;
	z-index: 1;
	/* border: 6px solid rgb(27, 79, 102); */

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: pulse infinite 3500ms ease-in-out;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
