.cardControl {
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	/* border: 1px solid red; */
	background-color: var(--color-3);
	/* cursor: pointer; */
	/* max-width: 254px; */
}
.cardItemsControl {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	* {
		flex-grow: 1;
	}
}

.pCount {
	flex-basis: 30%;
	/* background-color: aquamarine; */
}
