header {
	padding: 0;
	width: 100%;
	/* transform: scale(0.6); */
}

.nav {
	display: flex;
	width: 100%;
	padding: 0 0 1rem 0;
	margin: 0;
	justify-content: center;
	/* flex: 1; */
	/* border-bottom: 1.5px solid goldenrod; */
}

.iconSpan {
	position: absolute;
	font-size: 1.2rem;
	right: -44px;
	left: 0;
	bottom: -6px;
	/* background-color: var(--color-header); */
	color: var(--color-header);

	transition: transform 250ms ease-in-out;

	transform: translateX(0);
}

.navLiWrapper:hover .iconSpan {
	transform: translateX(-21%);
}

.navList {
	display: flex;
	/* flex-direction: column; */
	transform: scale(0.75);

	padding: 0;
	list-style: none;
	/* border: 2px plum solid; */
	flex: 1;
	/* background-color: var(--color-1); */
	/* border: 1.5px solid var(--color-border); */
	border-radius: 6px;
	align-items: center;
	justify-content: center;
}

.navLiWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
}

.navList > li {
	/* flex: 1 1 0; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
}

.navLiDot {
	margin-top: 0.1rem;
	font-size: 48px;
	color: var(--color-header);
}

.navLiDot:last-child {
	color: transparent;
}

@media (width >= 640px) {
	.navList {
		transform: scale(1);
	}
}
