header {
	padding: 0;
	width: 100%;
	/* transform: scale(0.6); */
}

.nav {
	display: flex;
	width: 100%;
	padding: 0 0 1rem 0;
	margin: 0;
	justify-content: center;
	/* flex: 1; */
	/* border-bottom: 1.5px solid goldenrod; */
}

.navList {
	display: flex;
	/* flex-direction: column; */
	transform: scale(0.75);

	padding: 0;
	list-style: none;
	/* border: 2px plum solid; */
	flex: 1;
	/* background-color: var(--color-1); */
	/* border: 1.5px solid var(--color-border); */
	border-radius: 6px;
	align-items: center;
	justify-content: center;
}

.navLiWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
}

.navList > li {
	/* flex: 1 1 0; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
}

.navLiDot {
	margin-top: 0.1rem;
	font-size: 48px;
	color: var(--color-header);
}

.navLiWrapper:last-child .navLiDot {
	color: transparent;
}

@media (width >= 640px) {
	.navList {
		transform: scale(1);
	}
}
