.news {
	/* pointer-events: none; */
	display: flex;
	/* flex-direction: row; */
	align-items: center;
	gap: 0.5rem;

	flex-grow: 0;
	/* border: 2px solid red; */
	text-align: center;
}

.linkToItem {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	cursor: pointer;
}

.imgContainer {
	flex-basis: 30%;
	/* border: 2px solid green; */
	/* height: 100%; */
}

.imgContainer > img {
	object-fit: cover;
	min-width: 156px;
}

.textContainer {
	/* flex: 1 1 70%; */
	/* padding: 1rem; */
	flex-basis: 70%;
	height: 100%;
	width: 100%;
}

.textContainer > p {
	max-height: 128px;
	/* flex-shrink: 0; */
	/* border: 2px solid orange; */
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (width >= 640px) {
	.news {
		flex-direction: row;
		align-items: start;
		height: 158px;
		/* justify-content: start; */
		text-align: start;
	}

	.imgContainer {
		height: 100%;
		overflow: hidden;
		aspect-ratio: 16 / 9;
	}
	.imgContainer > img {
		/* max-height: 100%; */
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.textContainer {
		h2 {
			word-break: normal;
		}
	}
}
